body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
  }
  
  .filter-section {
    width: 250px;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    height: 100vh;
    overflow-y: auto;
    position: fixed; /* Fixed position */
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 70px;
  }
  
  .filter-section label {
    display: block;
    margin-bottom: 10px;
  }
  
  .filter-section select, .filter-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-section {
    margin-left: 270px; /* Margin to the left to make space for fixed filter */
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
  }
  
  .product-card {
    width: calc(25% - 20px); /* Adjust to fit four cards per row with a 20px gap */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .product-card h3 {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  
  .product-card .price {
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
  }
  
  .product-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }
  