.login-container {
    max-width: 400px;
    
    padding: 20px;
    border: 1px solid #ccc;
    background-color:rgb(249, 226, 216);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
   
    margin-right: 2px;
    height: 100vh;
    margin-left: 930px;
   
    
    
  }
  .login1_container
  {
    background-image: url(../Assests/front.webp);
    width: 99%;
    background-repeat: no-repeat;
    height:fit-content;
    position: fixed;
  }
  span{
    color: red;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    size: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button1 {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    margin-left: 90px;
  }
  
  .button1:hover {
    background-color: #479df8;
  }
  label
  {
    text-align: left;
  }
  .error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
  }
  .forgot-password {
    text-align: right;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover 
  {
    text-decoration: underline;
    color: red;
  }

  .no-account {
    text-align: center;
    margin-top: 10px;
  }
  
  .no-account a {
    color: #007bff;
    text-decoration: none;
  }
  
  .no-account a:hover 
  {
    text-decoration: underline;
    color: red;
  }

  .app-logo
  {
    width: 50%;
    height: 50%;
    margin-left: 80px;
  }
  .footer-container
  {
    margin-left: -1050px;
    width: 368%;
  }
  .footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 145px;
  }
  
  .footer .footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer .footer-links div {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .footer .footer-links a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  
  .footer .footer-links a:hover {
    text-decoration: none;
  }
  
  .footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  .footer .footer-bottom div {
    flex: 1;
    min-width: 150px;
  }
  
  .footer .footer-bottom a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer .footer-bottom a:hover {
    text-decoration: none;
  }
  
  .footer .app-links img {
    height: 30px;
    margin: 0 5px;
  }
  
  .footer .social-icons a {
    color: #ffffff;
    margin: 0 10px;
  }
  
  .footer .social-icons a:hover {
    color: #cccccc;
  }