.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #528ddc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  overflow-x: auto;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: 140px;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 300px;
}

.search-box {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border: 1px solid #0b0101;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #050506;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Added gap for spacing */
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s;
  white-space: nowrap;
}

.nav-link:hover {
  color: #0a638f;
}

.nav-link:visited {
  color: rgb(15, 15, 15);
}

.nav-icon {
  margin-right: 5px;
}

.nav-text {
  display: inline;
}
