.nav {
  background-color: white;
  display: flex;
  padding: 10px 0;
  margin-bottom: 300px;
  align-items: center;
  margin-left: 150px;
  
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  color: black;
}

.nav-item {
  position: relative;
  padding: 10px 15px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: lighter;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: blue;
}

.nav-link:visited {
  color: black; /* Ensures the color stays black even after being visited */
}

.page-content {
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: rgb(12, 1, 1);
}
